<!-- this is the new profile form, there is an old one that works in master. It must be late bc I cannot get this one to style!  -->

<!-- renders currenUser's profile page -->
<div ng-controller="ProductsController as products">
  <h1>Welcome {{home.currentUser.username}} to your page</h1>

  <h2>You can edit your information below</h2>
  <br>
  <h3>Email: {{home.currentUser.email}}</h3>
  <br>

</div>

  <form ng-submit="users.profile(userPass)" class="profilepage">
    <div>
      <p>Submit another email address below</p> <br>
        <input ng-model="userPass.editProfile" type="text" placeholder="{{userPass.email}}">
      <button ng-click "userPass.addAddress(users, home.currentUser)">add</button>
    </div>
  </form>
