<div ng-controller="UsersController as users">
  <form ng-submit="users.signup(userPass)">
    <div>
      <label for="username">Username</label>
      <input type="text" ng-model="userPass.username">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" ng-model="userPass.email">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" ng-model="userPass.password">
    </div>
    <button type="submit">Signup!</button>
  </form>
</div>
