* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid black;*/
}

#navbar {
  background: papayawhip;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}

#logo {
  width: 40px;
  height: 40px;
  margin: 10px;
}

#navlinks{
  display: flex;
  width: auto;
  flex-flow: row;
  list-style: none;
}

#navlinks li {
  padding: 0 25px;
}

.products_index {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: sans-serif;
}

.product {
  width: 270px;
  margin: 50px 25px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  
}


.product img {
  width: 100%;
  margin: 35px 0;
}

.product .info {
  display: flex;
  flex: row;
  align-items: center;
}

.product .info > * {
  flex: 3 0px;
}

.product button {
  padding: 5px;
  margin: 5px;
}
