* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid black;*/
}

#navbar {
  background: papayawhip;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}

#logo img{
  width: 40px;
  height: 40px;
  margin: 10px;
}

#logo {
  display: flex;
  flex-flow: row;
  align-items: center;
}

#navlinks{
  display: flex;
  width: auto;
  flex-flow: row;
  list-style: none;
}

#navlinks li {
  padding: 0 25px;
}

.products_index {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: sans-serif;
}

.product {
  width: 270px;
  margin: 25px 25px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 0 30px #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.product > * {
  padding: 15px;
}

.product img {
  width: 100%;
  margin: 5px 0;
  padding: 0;
}

.product h2 {
  text-transform: capitalize;
}

.product .info {
  display: flex;
  flex: row;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.product .info > * {
  flex: 3;
  margin: 5px;
  justify-content: space-between;
}
/*end of navbar*/

/*beginning of cart.js form*/
button {
  padding: 5px;
}

.cart_product {
  width: 90%;
  overflow: auto;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
}

.cart_product div:first-of-type {
  float: left;
}

.cart_product div:last-of-type {
  float: right;
  display: flex;
  flex-flow: column;
}

.cart_product div:last-of-type > div {
  display: flex;
  flex-flow: row;
}

.cart_product div:last-of-type > div > * {
  margin: 5px;
  width: 75px;
}

/*start of login form*/
.login {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
}
.login label {
  display: inline-block;
  width: 100px;
}
.signup_ref {
  text-align: center;
  list-style: none;
  font-family: sans-serif;
  font-size: 1.2em;
}
/*end login form*/
/*start of signup form*/
.signup {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
}
.signup label {
  display: inline-block;
  width: 100px;
}
/*end of signup form*/
